footer.app-footer {
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.app-footer .container, footer.app-footer .container-fluid {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.footerColumn{
  width: 25%;
  flex: 1;
  border-radius: 8px;
  padding: 20px 0;
  color: white;
}

.footerColumn:nth-child(2) {
  margin: 0 5em;
}

@media (max-width:768px){
  .footerColumn {
    flex-basis: 100%;
    float: left;
  }
  .footerColumn:nth-child(2){
    margin: 0;
  }
}
