@import './../../App.css';

:root {
    /*Config title-page*/
    --title-page-home-background-image: url('../assets/background.webp');
    --title-page-home-background-color: rgba(66, 5, 164, 0.758);
    --title-page-home-color: white;
    --title-page-home-font-size-h2: 4em;
    --title-page-home-font-size-p: 1.5em;
}

/* Section intro-site */
.title-page-home {
    background: var(--title-page-home-background-image);
    background-color: var(--title-page-home-background-color);
    background-blend-mode: overlay;
    background-position: top;
    background-size: cover;
    text-align: center;
    color:  var(--title-page-home-color);
    padding: 10em 0;
}

.title-page-home img {
  border-radius: 50%;
  transition: transform 2s ease; 
}

.title-page-home img:hover {
  transform: scale(2);
}
.title-page-home h2 {
    font-size: var(--title-page-home-font-size-h2);
    color: white;
    text-shadow: 1px 1px 1px black;
}

.title-page-home p {
    font-size: var(--title-page-home-font-size-p);
    color: white;
    text-shadow: 1px 1px 1px black;
}

.btn:hover {
    background-color: #0056b3;
}

.go-to-shop {
    position: fixed;
    top: 30%;
    right: 0;
    padding: .4em;
    border: 0px;
    font-size: 1.5em;
    background:black;
    color: white;
    z-index: 9;
}