@import './../../App.css';

:root {
    /*Config title-page*/
    --title-page-home-background-color:  rgba(66, 5, 164, 0.758);
    --title-page-home-color: white;
    --title-page-home-font-size-h2: 4em;
    --title-page-home-font-size-p: 1.5em;
}

/* Section intro-site */
.title-page-home {
    text-align: center;
    color:  var(--title-page-home-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .slide-content {
    background-color: var(--title-page-home-background-color);
    background-blend-mode: overlay;
    background-position: top;
    background-size: cover;
    background-size: cover;
    background-position: center;
    height: 120vh;
  }
  
  .title-page-home h2 {
    font-size: var(--title-page-home-font-size-h2);
    margin-bottom: 1rem;
    padding: 4em 0 0 0 ;
  }
  
  .title-page-home p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

button.slick-arrow.slick-next {
  display: none !important;
}

.go-to-shop {
    position: fixed;
    top: 30%;
    right: 0;
    padding: .4em;
    border: 0px;
    font-size: 1.5em;
    background:black;
    color: white;
    z-index: 9;
}