@import '../../style.css';
.toggle-button {
  position: absolute;
  right: 0px;
}

.toggle-button svg{
  font-size: 22px;
}

.toggle-button button {
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 100!important;
}


.toggle-btn {
  display: none;
  line-height: 76px;
  padding-right: 2em;;
}

.sidebar {
  background: hsla(0, 0%, 0%, 0.9);
  color: white!important;
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100%);
  max-height: 90vh;
  overflow: auto;
  min-height: 100%;
  color: #fff;
  transition: transform .5s ease-in-out;
  transform: translateX(100%);
  text-align: center;
}

.sidebar.open {
  transform: translateX(0);
}

.close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.togglemenu ul {
  padding: 0;
  list-style: none;
}

.togglemenu ul.open {
  display: block !important;
}

.togglemenu li {
  line-height: 40px;
  cursor: pointer;
  margin-top: 1em;
}
  
.togglemenu a {
  color: #fff!important;
  text-decoration: none;
  font-size: 20px;
}

.togglemenu a span {
  margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
}


.togglemenu svg{
  padding-right: 10px;
  font-size: 14px;
}

.toggle-menu a[title="Contact"]{
  margin-top:1em;
}

.togglemenu ul ul {
  display: none;
  position: static;
  background: none;
  width: 100%;
  top: auto;
  left: auto;
}

.togglemenu ul ul li {
  display: block;
  background: none;
  padding: 0;
  margin-top: 0;
}

.togglemenu li:hover > ul {
  display: none;
}

.togglemenu li:hover > ul ul {
  display: none;
}

.close-btn  svg{
  font-size: 22px;
}
  
  @media (max-width: 768px) {

    .app-header .container-fluid{
      padding-bottom: 0px;
    }

    .toggle-btn {
      display: block;
    }

    .sidebar .logo svg{
      margin-top: 50px;
      width: 70px;
    }
  
    .menu {
      display: none !important;
    }
  }