@import './../../../../App.css';
:root{
    /*Config title-page*/
    --title-page-sviluppo-background-image: url('./background.webp');
    --title-page-sviluppo-background-color:hsla(273, 84%, 42%, 0.95);
    --title-page-sviluppo-color: white;
    --title-page-sviluppo-font-size-h2: 4nem;
    --title-page-sviluppo-font-size-p: 1.5em;
    
    /* Section Archive card */
    --archive-card: 25%;
    --archive-card-background: white;
    --archive-card-h3: 2em;
    --archive-card-p: 1.2em;
    --border-radius: 10px;
    /* Section Price */
    --price-column: 33%;
    --price-column-background: white;
    --price-h3:2em;
    --price-price:20px;
    --price-plan:30px;
}
/* Section intro-site */
.title-page-sviluppo {
  background-image: var(--title-page-sviluppo-background-image);
  background-color: var(--title-page-sviluppo-background-color);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  color:  var(--title-page-sviluppo-color);
  padding: 10em 0;
  
}
.title-page-sviluppo h2{
  font-size: var(--title-page-sviluppo-font-size-h2);
  color: white;
}
.title-page-sviluppo p{
  font-size: var(--title-page-sviluppo-font-size-p);
  color: white;
}
  /* Section Archive card */
.archive-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.archive-card .card {
  width: calc(var(--archive-card) - 1em);
  background: var(--archive-card-background);
  margin-bottom: 20px;
  border-radius: var(--border-radius);
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.archive-card .card .card-content {
  position: relative;
  overflow: hidden;
}
.archive-card .card .card-content .card-bg {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.archive-card .card .card-content h3{
  padding: 20px 20px 0 20px;
  margin: 0;
  font-size: var(--archive-card-h3);
}
.archive-card .card .card-content p{
  padding: 0 20px 0 20px;
  margin: 0;
  font-size: var(--archive-card-p);
}
.archive-card .card .card-content .btn{
  margin: 1em;
}
/* Section Price */
.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.pricing-column {
  width: calc(var(--price-column) - 10px); 
  background: var(--price-column-background);
  border-radius: var(--border-radius);
  padding: 2em 0;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 2em;
}
.pricing-column h3 {
  font-size: var(--price-h3);
}

.pricing-column ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.pricing-column p.price {
  font-size: var(--price-price);
  margin: 0;
}

.pricing-column p.plan {
  font-size: var(--price-plan);
  margin: 0;
}

@media(max-width:768px) {
  .card,.pricing-column{width: 100%!important;}
}
