  /* home.css */

/*Section Parallax style*/
  
  .parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .parallax-content {
    text-align: center;
    color: white;
    background-color: hsla(273, 84%, 42%, 0.8);
    padding: 10em 0!important;
  }
  
  .call-to-action {
    background-color: hwb(273 3% 53% / 0.8);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
  }


/*Section Pricing style*/


  .pricing {
    max-width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pricing-column {
    width: 25%;
    background-color: #fff;
    flex: 1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    text-align: center;
  }

  .pricing-column:nth-child(2) {
    margin: 0 5em;
  }
  
  .pricing-header {
    text-align: center;
  }
  
  .price {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .plan {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .features {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .features li {
    margin-bottom: 10px;
  }
  
  .btn {
    display: block;
    width: auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }

  .btn:hover {
    background-color: #0056b3;
  }

/*Section Service style*/

  .services-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .service {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .service-content {
    position: relative;
    overflow: hidden;
  }
  
  .service-bg {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
  }
  
  .service-details {
    padding: 20px;
    background-color: #fff;
  }
  
  
  .service h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  
  .service p {
    margin: 0;
    font-size: 16px;
    color: #666;
    margin-bottom: 1em;
  }
  

  @media(max-width:768px){
    section.services-section,section.pricing{
      flex-direction: column;
      
    }
    .service,.pricing-column{
      min-width: 100%!important;
      margin-bottom: 1em;
    }
  }
  