@import './../../../App.css';
:root{
    /*Config title-page*/
    --title-page-contact-background-image: url('./../home/service1.webp');
    --title-page-contact-background-color:rgba(137, 18, 123, 0.95);
    --title-page-contact-color: white;
    --title-page-contact-font-size-h2: 6em;
    --title-page-contact-font-size-p: 1.5em;
}
/* Section intro-site */
.title-page-contact{
  background-image: var(--title-page-contact-background-image);
  background-color: var(--title-page-contact-background-color);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  color:  var(--title-page-contact-contact-color);
  padding: 10em 0;
}
.title-page-contact h2{
  font-size: var(--title-page-contact-font-size-h2);
  color: white;
  text-shadow: 1px 1px 1px black;
}
.title-page-contact p{
  font-size: var(--title-page-contact-font-size-p);
  color: white;
  text-shadow: 1px 1px 1px black;
}