/* header.css */

.app-header {
  line-height: auto;
  color: #fff;
  /*background-color: hwb(279 7% 36%);*/
  background: rgb(2,0,36);
  background: hsla(273, 84%, 42%, 0.5);
  position: absolute;
  width: 100%;
}


.app-header .container{
  display: flex;
  max-width: calc(1024px - 4em);
  margin: 0 auto;
  padding: 0 2em;
}

.app-header .container-fluid{
  display: flex;
  max-width: calc(1280px - 4em);
  margin: 0 auto;
  padding: 0 2em;
}