@import './../../style.css';
/* header.css */
.app-header {
  line-height: auto;
  color: #fff;
  /*background-color: hwb(279 7% 36%);*/
  background: var(--header-navbar-background);
  position: absolute;
  width: 100%;
  z-index: 9999;
}
.app-header .container-fluid{
  display: flex;
  margin: 0 auto;
  padding-top: 0;
}