@import './../../../App.css';
:root{
    /*Config title-page*/
    --title-page-home-background-image: url('./background.webp');
    --title-page-home-background-color:rgba(66, 5, 164, 0.758);
    --title-page-home-color: white;
    --title-page-home-font-size-h2: 4em;
    --title-page-home-font-size-p: 1.5em;
    
    /* Section Archive card */
    --archive-card: 25%;
    --archive-card-background: white;
    --archive-card-h3: 2em;
    --archive-card-p: 1.2em;
    --border-radius: 10px;
    /* Section Price */
    --price-column: 33%;
    --price-column-background: white;
    --price-h3:2em;
    --price-price:20px;
    --price-plan:30px;
}
/* Section intro-site */
.title-page-home {
  background: var(--title-page-home-background-image);
  background-color: var(--title-page-home-background-color);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  color:  var(--title-page-home-color);
  padding: 10em 0;
  }
.title-page-home h2{
  font-size: var(--title-page-home-font-size-h2);
  color: white;
  text-shadow: 1px 1px 1px black;
}
.title-page-home p{
  font-size: var(--title-page-home-font-size-p);
  color: white;
  text-shadow: 1px 1px 1px black;
}