body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  max-width: calc(1024px - 8em);
  margin: 0 auto;
  padding: 1em 4em;
}

.container-fluid{
  max-width: calc(1280px - 4em);
  margin: 0 auto;
  padding: 1em 2em;
}

@media(max-width:768px){
}
