@import 'style.css';
body {
  margin: 0;
  font-family: var(--font1);
  font-weight: 100;
  background: var(--body-background);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h2,h3,h4,h5,h6{
  margin: 0;
  font-family: var(--font2);
  font-weight: 500;
}
.container-fluid{
  max-width: calc(var(--container-fluid) - 10em);
  margin: 0 auto;
  padding: var(--container-fluid-padding)
}
.title{
  font-size:3em;
  width: 100%;
  padding: .5em 1em .5em 1em;
  text-align: center;
}
.btn {
  background-color: var(--btn1-background);
  border: none;
  color: white;
  padding: .5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: var(--btn1-border-radius);
  font-size: 1.3em!important;
  font-weight: 300!important;
  font-family: var(--font2);
  text-shadow: 1px 1px 1px black;
}
.btn:hover {
  background-color: var(--btn1-background-hover);
}
.title-page {
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  padding: 10em 0;
}


@media(max-width:768px){
  .app-header {
    position: fixed;
    z-index: 9999;
    background: hsla(273, 84%, 42%, 0.7);
  }
  
}
