@import './../../../App.css';
:root{
    /*Config title-page*/
    --title-page-servizi-background-image: url('./background.webp');
    --title-page-servizi-background-color:hsla(273, 84%, 42%, 0.95);
    --title-page-servizi-color: white;
    --title-page-servizi-font-size-h2: 4em;
    --title-page-servizi-font-size-p: 1.5em;
    
    /* Section Archive card */
    --archive-card: 25%;
    --archive-card-background: white;
    --archive-card-h3: 2em;
    --archive-card-p: 1.2em;
    --border-radius: 10px;
    /* Section Price */
    --price-column: 33%;
    --price-column-background: white;
    --price-h3:2em;
    --price-price:20px;
    --price-plan:30px;
}
/* Section intro-site */
.title-page-servizi {
  background-image: var(--title-page-servizi-background-image);
  background-color: var(--title-page-servizi-background-color);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  color:  var(--title-page-servizi-color);
  padding: 10em 0;
  
}
.title-page-servizi h2{
  font-size: var(--title-page-servizi-font-size-h2);
  color: white;
  text-shadow: 1px 1px 1px black;
}
.title-page-servizi p{
  font-size: var(--title-page-servizi-font-size-p);
  color: white;
  text-shadow: 1px 1px 1px black;
}
.archive-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: calc(33.333% - 20px);
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-content {
  position: relative;
  overflow: hidden;
}

.card .card-content .card-bg {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.card .card-content h3 {
  padding: 20px;
  margin: 0;
  font-size: 1.5em;
}

.card .card-content p {
  padding: 0 20px 20px;
  margin: 0;
  font-size: 1em;
}

.card .card-content .btn {
  margin: 0 20px 20px;
}

@media (max-width: 992px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 20px);
  }

  .card:nth-last-child(2) {
    order: 2; /* Último card, segundo da direita */
  }

  .card:last-child {
    order: 1; /* Último card, primeiro da direita */
  }
}
