@import './../../../App.css';

:root {
  /*Config title-page*/
  --title-page-servizi-background-image: url('./background.webp');
  --title-page-servizi-background-color: hsla(273, 84%, 42%, 0.95);
  --title-page-servizi-color: white;
  --title-page-servizi-font-size-h2: 4em;
  --title-page-servizi-font-size-p: 1.5em;
  
  /* Section Archive card */
  --archive-card: 25%;
  --archive-card-background: white;
  --archive-card-h3: 2em;
  --archive-card-p: 1.2em;
  --border-radius: 10px;
  /* Section Price */
  --price-column: 33%;
  --price-column-background: white;
  --price-h3: 2em;
  --price-price: 20px;
  --price-plan: 30px;
}

/* Section intro-site */
.title-page-servizi {
  background-image: var(--title-page-servizi-background-image);
  background-color: var(--title-page-servizi-background-color);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  color: var(--title-page-servizi-color);
  padding: 10em 0;
}

.title-page-servizi h2 {
  font-size: var(--title-page-servizi-font-size-h2);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.title-page-servizi p {
  font-size: var(--title-page-servizi-font-size-p);
  color: white;
}


.modal-content {
  background-color: #fefefe;
  margin: 5em auto;
  padding: 20px;
  border: 1px solid #888;
  width: calc(100% - 10em);
  overflow: hidden;
}

.modal-content img {
  max-width: calc(50% - 5em);
  margin-right: 5em;
  float: left;
}

.close {
  color: #fff;
  float: right;
  font-size: 3em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Cart section */
.cart {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  z-index: 9999;
}

.cart p {
  margin: 30px 0 0 0px;
}

.cart.open {
  display: block;
  position: fixed;
  width: calc(100% - 4em);
  height: calc(100%);
  background: #111;
  color: white;
  top: 0;
  padding: 2em;
  margin: 0;
  font-size: 1.2em;
  overflow: hidden;
}



button.cart-toggle-btn {
  position: fixed;
  top: 84%!important;
  right: 0;
  padding: .5em;
  border: 0px;
  font-size: 1.5em;
  background: black;
  color: white;
}

button.top-btn {
  position: fixed;
  top: 90%;
  right: 0;
  padding: .5em;
  border: 0px;
  font-size: 1.5em;
  background: black;
  color: white;
}

button.close-cart-btn {
  float: right;
  background: transparent;
  border: 0;
  color: white;
  font-size: 1.5em;
}

.cart-toggle-btn:hover {
  background-color: #0056b3;
}

@import './../../../App.css';

:root {
  /*Config title-page*/
  --title-page-servizi-background-image: url('./background.webp');
  --title-page-servizi-background-color: hsla(273, 84%, 42%, 0.95);
  --title-page-servizi-color: white;
  --title-page-servizi-font-size-h2: 4em;
  --title-page-servizi-font-size-p: 1.5em;
  
  /* Section Archive card */
  --archive-card: 25%;
  --archive-card-background: white;
  --archive-card-h3: 2em;
  --archive-card-p: 1.2em;
  --border-radius: 10px;
  /* Section Price */
  --price-column: 33%;
  --price-column-background: white;
  --price-h3: 2em;
  --price-price: 20px;
  --price-plan: 30px;
}

/* Section intro-site */
.title-page-servizi {
  background-image: var(--title-page-servizi-background-image);
  background-color: var(--title-page-servizi-background-color);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  color: var(--title-page-servizi-color);
  padding: 10em 0;
}

.title-page-servizi h2 {
  font-size: var(--title-page-servizi-font-size-h2);
  color: white;
  text-shadow: 1px 1px 1px black;
}

.title-page-servizi p {
  font-size: var(--title-page-servizi-font-size-p);
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999999;
}

.modal-content {
  display: block;
  position: fixed;
  width: calc(100% - 4em);
  height: calc(100%);
  background: #111;
  color: white;
  top: 0;
  padding: 2em;
  margin: 0;
  font-size: 1.2em;
  overflow: hidden;
}

.modal-content img {
  max-width: calc(50% - 5em);
  margin-right: 5em;
  float: left;
}

.close {
  color: white;
  float: right;
  font-size: 2em;
  font-weight: 100;
}

.close:hover,
.close:focus {
  color: gray;
  float: right;
  font-size: 2em;
  font-weight: 100;
}

/* Cart section */
.cart {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  z-index: 9999;
}

.cart p {
  margin: 30px 0 0 0px;
}


button.cart-toggle-btn {
  position: fixed;
  top: 30%;
  right: 0;
  padding: .5em;
  border: 0px;
  font-size: 1.5em;
  background: black;
  color: white;
}

.cart-toggle-btn:hover {
  background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 768px) {

  select, input {
    width: 45% !important;
    float: left;
  }
  .modal-content img {
    max-width: 100%;
    margin-right: 0;
    float: none;
  }
  
  .title-page-servizi h2 {
    font-size: 2em;
  }
  
  .title-page-servizi p {
    font-size: 1em;
  }

  .card {
    width: 100% !important;
  }
}
