@import './../../../App.css';
:root{
    /*Config title-page*/
    --title-page-servizi-background-image: url('./background.webp');
    --title-page-servizi-background-color:hsla(273, 84%, 42%, 0.95);
    --title-page-servizi-color: white;
    --title-page-servizi-font-size-h2: 4em;
    --title-page-servizi-font-size-p: 1.5em;
    
    /* Section Archive card */
    --archive-card: 25%;
    --archive-card-background: white;
    --archive-card-h3: 2em;
    --archive-card-p: 1.2em;
    --border-radius: 10px;
    /* Section Price */
    --price-column: 33%;
    --price-column-background: white;
    --price-h3:2em;
    --price-price:20px;
    --price-plan:30px;
}
/* Section intro-site */
.title-page-servizi {
  background-image: var(--title-page-servizi-background-image);
  background-color: var(--title-page-servizi-background-color);
  background-blend-mode: overlay;
  background-position: top;
  background-size: cover;
  text-align: center;
  color:  var(--title-page-servizi-color);
  padding: 10em 0;
  
}
.title-page-servizi h2{
  font-size: var(--title-page-servizi-font-size-h2);
  color: white;
  text-shadow: 1px 1px 1px black;
}
.title-page-servizi p{
  font-size: var(--title-page-servizi-font-size-p);
  color: white;
  text-shadow: 1px 1px 1px black;
}
